//Background
$bg-primary: #007bff
$bg-white: #fff;
$bg-light: #f8f9fa;
$bg-dark: #353536;
$bg-dark-100

//text
$text-primary: #007bff;
$text-white: #fff;
$text-gray: #353536;
$text-blue-dark: #1d365e;
$text-yellow: #f9d514;

//Font size

//Font Weight

//